/****************************************
*           SESION - ELEMENTOS          *
*****************************************/
h1.num {
    background-color: #004986;
    color: #FFFFFF;
    font-size: 200%;
    text-align: center;
    padding: 8px;
    line-height: 1;
}

h2.num {
    color: #993300;
    font-size: 135%;
    line-height: 1;
    margin-top: 20px;
}

hr.num {
    border-top: 1px solid #07428A;
    margin: 10px 0;
}

/* Tabla con borde y centrada */
table.center {
    margin: 8px auto;
}

table.center td{
    text-align: center;
}

table.num {
    border: 1px solid black;
    margin: 8px auto;
}

table.num td{
    border: 1px solid black;
    text-align: center;
}

table.agradecimiento td{
    vertical-align: top;
}

/* Video centrado y con imagen de fondo (poster) */
video.num {
    background-image: url('fondo_video.png');
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

p.num.resaltado {
    color: #0000FF;
    font-weight: bold;
}

ul.num li {
    margin: 8px 0;
}

ol.num li {
    margin: 8px 0;
}

p, li {
    text-align: justify;
}

input[type="text"].num {
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    font-size: 100%;
    padding: 0px 6px;
}

.tooltip {
	display:none;
    background-color: #FFECEC;
	border:1px solid #333;
	border-radius:5px;
    color:#800000;
    padding: 5px;
    position: absolute;
}

.tooltip:before{
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;

    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #333;

    left:14px;
    top:-7px;
}

/****************************************
*           SESION - PREGUNTAS          *
*****************************************/
form.pregunta {
    background-color: #FFF;
    border-radius: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
    margin-bottom: 20px;
    padding: 20px 10px;
}

.pregunta header {
    display: inline;
    font-weight: bold;
    margin:0 5px 20px 0;
}

.pregunta label {
    display: block;
    font-weight: normal;
    padding-left: 18px;
}

/* SECTION: Respuestas */
.pregunta .respuestas {
	background-color: #F2F2F2;
    margin-bottom: 10px;
    margin-top: 20px;
	padding: 10px;
}

.pregunta input[type="radio"] {
    margin: 3px 5px 0px -18px;
}

.pregunta input[type="checkbox"] {
    margin: 3px 5px 3px -18px;
}

.pregunta input[type="text"] {
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    font-size: 100%;
    padding: 0px 6px;
}

.pregunta select {
    border: 1px solid #CCC;
    border-radius: 4px;
    font-size: 100%;
}

.pregunta .respuesta.correcta {
    background-color: #DBFFDB;
}

.pregunta .respuesta.incorrecta {
    background-color: #FFECEC;
}

.pregunta .respuesta .retroalimentacion{
    color: #337AB7;
    display: none;
    margin-left: 21px;
}

.pregunta.rellena .respuesta .retroalimentacion{
    margin-left: 0px;
}

.pregunta.relacion .respuesta .retroalimentacion{
    margin-left: 0px;
}

/* SECTION: Revision */
.pregunta section.revision {
    width: 265px;
}

.pregunta button[type=submit] {
    border-radius: 6px;
    font-size: 100%;
    height: 32px;
    margin: 0 10px 0 0;
}

.icono {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: bottom;
}

.icono.correcta {
    background: url(correcta.png) no-repeat; 
}

.icono.incorrecta {
    background: url(incorrecta.png) no-repeat;
}

/* SECTION: Sugerencias */
button.sugerencia {
    background-color: #C95203;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 100%;
    height: 32px;
    margin-right: 10px;
}

section.sugerencia {
    background-color: #EEE;
    display: none;
    padding-top: 10px;
}

section.sugerencias {
    margin-bottom: 10px;
}

/****************************************
*           METODOS - AYUDA             *
*****************************************/
.alk-tabs-menu {
    clear: both;
    margin: 0;
    padding: 0;
}

.alk-tabs-menu li {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background: #ededed;
    border-radius: 5px;
}

.alk-tabs-menu li.current {
    background: #fff;
    font-weight: bold;

}

.alk-tabs-menu li a {
    padding: 10px;
    color: #222;
    text-decoration: none;

}

.alk-tabs-menu .current a {
    color: #222;
}

.tab {
    background-color: #fff;
    margin-bottom: 20px;
    width: auto;
    clear: both;
}

.tab-content {
    padding: 5px;
    display: none;
}

#tab-metodo {
 display: block;
}