/*--- Design for the session main page ---*/

.portada {
    background-color: #E6E6E6;
}

.portada .titulo {
    height: 68px;
    margin-bottom: 43px;
    border-bottom: 1px solid #07428A;
}
.portada .lupa{
    background: url(../images/banner.png) no-repeat;
    float: left;
    width: 226px;
    height: 111px;
}
.portada .titulo header {
    color: #010041;
    font-size: 1.3em;
    font-weight: bold;
    padding: 30px 0px 0px 246px;
}

a.num {
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    float:left;
    height: 91px;
    width:  91px;
    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/****************************************
*        SECTION CLASS = "antes"        *
*****************************************/
section.antes{
    display: inline-block;
    margin-left: 10%;
    width: 600px;
}

/* ANTES - Icons */
a.num.video {
    background-image: url(../images/video.png);
}
a.num.presentacion {
    background-image: url(../images/presentacion.png);
}
a.num.previo {
    background-image: url(../images/previo.png);
}
a.num.diagnostico {
    background-image: url(../images/diagnostico.png);
}
a.num.aplicacion {
    background-image: url(../images/aplicacion.png);
}

/* one item */
.antes a:first-child:nth-last-child(1) {
    width: 100%;
}

/* two items */
.antes a:first-child:nth-last-child(2),
.antes a:first-child:nth-last-child(2) ~ a {
    width: 50%;
}

/* three items */
.antes a:first-child:nth-last-child(3),
.antes a:first-child:nth-last-child(3) ~ a {
    width: 33.3333%;
}

/* four items */
.antes a:first-child:nth-last-child(4),
.antes a:first-child:nth-last-child(4) ~ a {
    width: 25%;
}

/* five items */
.antes a:first-child:nth-last-child(5),
.antes a:first-child:nth-last-child(5) ~ a {
    width: 20%;
}

/****************************************
*       SECTION CLASS = "durante"       *
*****************************************/
section.durante {
    display: inline-block;
    height: 330px;
    margin-left: 10%;
    width: 600px;
}

.durante a.num {
    margin-left: 14.5px;
    margin-top: 14.5px;
}

.durante .izquierda {
    float: left;
    width: 20%;
}

.durante .proposito {
    color: #565454;
    float: left;
    padding: 10%;
    text-align: justify;
    width: 40%;
}
.durante .proposito header{
    font-size: 1.15em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 40px;
    text-align: center;
}

.durante .derecha{
    float: left;
    width: 20%;
}

/* DURANTE - Icons */
a.num.ejemplo {
    background-image: url(../images/ejemplo.png);
}
a.num.actividad {
    background-image: url(../images/actividad.png);
}
a.num.faq {
    background-image: url(../images/faq.png);
}
a.num.relacion {
    background-image: url(../images/relacion.png);
}
a.num.metodo {
    background-image: url(../images/metodo.png);
}
a.num.mapa {
    background-image: url(../images/mapa.png);
}


/****************************************
*       SECTION CLASS = "despues"       *
*****************************************/
section.despues{
    display: inline-block;
    margin-left: 10%;
    width: 600px;
}

/* DESPUES - Icons */
a.num.evalproceso {
    background-image: url(../images/evalproceso.png);
}
a.num.evalreflex {
    background-image: url(../images/evalreflex.png);
}
a.num.reflexion {
    background-image: url(../images/reflexion.png);
}
a.num.proyeccion {
    background-image: url(../images/proyeccion.png);
}

/* one item */
.despues a:first-child:nth-last-child(1) {
    width: 100%;
}

/* two items */
.despues a:first-child:nth-last-child(2),
.despues a:first-child:nth-last-child(2) ~ a {
    width: 50%;
}

/* three items */
.despues a:first-child:nth-last-child(3),
.despues a:first-child:nth-last-child(3) ~ a {
    width: 33.3333%;
}

/* four items */
.despues a:first-child:nth-last-child(4),
.despues a:first-child:nth-last-child(4) ~ a {
    width: 25%;
}

/* five items */
.despues a:first-child:nth-last-child(5),
.despues a:first-child:nth-last-child(5) ~ a {
    width: 20%;
}